
{% load static %}
{% load profile_extras %}

<!doctype html>
<html lang="zxx">


<!--  36:22-->
<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Sports & Magazine Khela</title>

    <!-- CSS -->

    <link rel="stylesheet" href="{% static 'main_template/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'main_template/css/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static 'main_template/css/slick-slider.css' %}">
    <link rel="stylesheet" href="{% static 'main_template/css/fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'main_template/css/smartmenus.css' %}">
    <link rel="stylesheet" href="{% static 'main_template/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main_template/css/color.css' %}">
    <link rel="stylesheet" href="{% static 'main_template/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'main_template/css/blog.css' %}">

    <!-- JavaScript -->
    <script src="{% static 'main_template/script/jquery.js' %}"></script>
    <script src="{% static 'main_template/script/popper.min.js' %}"></script>
    <script src="{% static 'main_template/script/bootstrap.min.js' %}"></script>
    <script src="{% static 'main_template/script/slick.slider.min.js' %}"></script>
    <script src="{% static 'main_template/script/fancybox.min.js' %}"></script>
    <script src="{% static 'main_template/script/isotope.min.js' %}"></script>
    <script src="{% static 'main_template/script/smartmenus.min.js' %}"></script>
    <script src="{% static 'main_template/script/progressbar.js' %}"></script>
    <script src="{% static 'main_template/script/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'main_template/script/functions.js' %}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>

</head>

<body class="home">


        {% block content %}
        
        {% endblock %}


    </div>







</body>


<!--  39:15-->
</html>